<style>
    form
    {
        padding: 10px;
    }
    input
    {
        background-color:  hsla(174, 60%, 34%, 0.219);
        border: 2px solid hsl(174, 60%, 34%);
        border-radius: 3px;
    }
    input[type="text"], input[type="password"]
    {
        width: 30%;
        height: 1.25em;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    input[type="submit"]
    {
        padding: 1.2em;
    }
</style>