{% from 'layout.html' import admin_component %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand_details.css') }}">
{% endblock %}

{% block body %}

{{ admin_component(type='edit', text='Edit brand', route="/brands/" + "_".join(brand_name.split()) + "/edit") }}

<div class="brand_details">
    <h1> {{ brand_name }} </h1>
    <div class="brand_image">
        <img src={{ brand_logo_url }} style="width: 300px;">
    </div>
    <p> {{ brand_description }} </p>

    {% if marketshares %}
    <div class="marketshare">
        <h3> Marketshare Information</h3>

        <table>
            <thead>
                {% for row in marketshares %}
                <th> {{ row[1] }} Quarter {{ row[2] }} </th>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    {% for row in marketshares %}
                        <td> {{ row[0] }}% </td>
                    {% endfor%}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    <div class="brand_phones">
        <i> Click <a style="color: black; text-decoration: underline;" href={{'/phones?brand=' + '
                +'.join(brand_name.split()) }}> here</a> to see all phones of {{ brand_name }} </i>
    </div>
    <!-- {{ marketshares }} -->
</div>


{% endblock %}