{% from 'layout.html' import component_edit  %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand_detail.css') }}">
{% endblock %}

{% block body %}
<div class="brand_details">
    <h1> {{ brand_name }} </h1>
    <div class="brand_image">
        <img src= {{ brand_logo_url }} style="width: 300px;">
    </div>
    <p> {{ brand_description }} </p>
</div>

{{ component_edit(text='Edit brand', route="/edit/brand/" + brand_name) }}

</div>
{% endblock %}