{% from 'layout.html' import admin_component  %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand_details.css') }}">
{% endblock %}

{% block body %}
<div class="brand_details">
    <h1> {{ brand_name }} </h1>
    <div class="brand_image">
        <img src= {{ brand_logo_url }} style="width: 300px;">
    </div>
    <p> {{ brand_description }} </p>
</div>

{{ admin_component(type='edit', text='Edit brand', route="/brands/" + brand_name + "/edit") }}

</div>
{% endblock %}