{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brands.css') }}">
{% endblock %}


{% block body %}
<h1> Brands </h1>
<p> Click on any brand to know more about it. </p>

<section class="brands-grid">

   {% for brand in brands %}
   <a href = "/brands/{{ brand['name'] }}">
      <div class = "brandcard">
         <h3> {{ brand["name"] }} </h3>
         <div class = brandcardimage>
            <img src = {{ brand["logo_url"] }} >
         </div>
      </div>
   </a>
   {% endfor %}

</section>
{% endblock %}

<!-- https://logos-download.com/6609-xiaomi-logo-download.html -->