{% from 'layout.html' import admin_component %}
{% from 'brand_form.html' import brand_form %}

{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2> Edit Brand ({{ brand_name }}) </h2>

{{ brand_form(brand_name = brand_name, brand_description = brand_description, brand_logo_url = brand_logo_url, type = 'edit', action = '/brands/'+ '_'.join(brand_name.split()) + "/edit" ) }}

{{
    admin_component(type="delete",
    text='Delete',
    route='/brands/' + '_'.join(brand_name.split()) + '/delete')
}}


{% endblock %}