{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2> Edit Brand ({{ brand_name }}) </h2>

<form action="{{ '/brands/'+ brand_name + "/edit" }}" method="POST">
    <label for="brand_description">Brand Details: </label> <br>
    <textarea name="brand_description" cols="100" rows="20" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ brand_description }}</textarea>
    <br> <br>

    <label for="brand_logo_url">Brand Logo Url: </label> <br>
    <textarea name="brand_logo_url" cols="100" rows="1">{{ brand_logo_url }}</textarea>
    <br> <br>

    <br><br>
    <input type="submit" value="Save">
</form>

</div>
{% endblock %}