{% from 'layout.html' import admin_component %}
{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='full_news.css') }}">
{% endblock %}

{% block body %}
<div class="news">
    <h1> {{ news["heading"] }} </h1>
    <div class="news_image">
        <img src= {{ news["image_url"] }} style="width: 300px;">
    </div>
    <p> {{ news["news_text"] }} </p>
</div>

{{
    admin_component(type="delete",
    text='Delete',
    route = '/news/' + '_'.join(news['heading'].split()) + '-' + news['id']|string + '/delete')
}} 

</div>
{% endblock %}