<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% block head %} {% endblock%}

  <title>{{ title }}</title>
</head>

<body>
  <header>
    <div class="site-name">
      <a href="/">
        <h1> Mobinfo </h1>
      </a>
    </div>
    <hr>
    <div class="navbar">
      <nav>
        <ul>
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/brands"> Brands </a> </li>
          <li> <a href="/"> Phones </li>
          <li> <a href="/"> News </a> </li>
          <li> <a href="/signup"> Sign Up </a> </li>
          <li> <a href="/signin"> Sign In </a> </li>
          <li> <a href="/signin"> Sign In </a> </li>
        </ul>
      </nav>
    </div>

  </header>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>  
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <main>
  {% block body %} {% endblock %}
  </main>

  {% macro component_edit(text, route) -%}
  <a href="{{ route }}">
    <div class="admin_edit">
      <label for="edit_icon"> {{ text }} </label>
      <img name="edit_icon" src="{{ url_for('static', filename='/images/edit_icon.svg') }}"
    </div>
  </a>
  {%- endmacro %}

  <footer>
    Mobinfo 2021
  </footer>
</body>

</html>