{% from 'layout.html' import admin_component  %}

{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='phone_details.css') }}">
{% endblock %}

{% block body %}
<h1
  style="background-color: hsl(194, 60%, 34%);; color: white; margin-left: 5px; padding-left: 10px; padding-right: 10px; border-radius: 5px; width: max-content;">
  {{ phone_details["brand_name"] }} {{ phone_details["phone_name"] }}
</h1>
<img src={{ phone_details['image_url'] }} style="height: 200px;"
  alt="{{ phone_details['brand_name'] }} {{ phone_details['phone_name'] }} image">
<hr>

<div style="overflow-x: auto; margin: 40px;">
  <table>
    <colgroup>
      <col class="twenty" />
      <col class="eighty" />
    </colgroup>

    <tr>
      <th>OS</th>
      <td> {{ phone_details["os"] }} </td>
    </tr>

    <tr>
      <th>Weight</th>
      <td> {{ phone_details["weight_grams"] }}g </td>
    </tr>

    <tr>
      <th>CPU</th>
      <td> {{ phone_details["cpu"] }} </td>
    </tr>

    <tr>
      <th>Chipset</th>
      <td> {{ phone_details["chipset"] }} </td>
    </tr>

    <tr>
      <th>Display Technology</th>
      <td> {{ phone_details["display_technology"] }} </td>
    </tr>
    <tr>
      <th>Screen Size</th>
      <td> {{ phone_details["screen_size_inches"] }} inches </td>
    </tr>
    <tr>
      <th> Display Resolution </th>
      <td> {{ phone_details["display_technology"] }} </td>
    </tr>
    <tr>
      <th> Extra Display Features </th>
      <td> {{ phone_details["extra_display_features"] }} </td>
    </tr>
    <tr>
      <th> Built-in Memory </th>
      <td> {{ phone_details["built_in_memory_gb"] }} GB </td>
    </tr>
    <tr>
      <th> RAM </th>
      <td> {{ phone_details["ram_gb"] }} GB </td>
    </tr>
    <tr>
      <th> Front Cameras </th>
      <td>
        {% for front_camera in phone_details["front_cameras"] %}
        {{ front_camera }} MP,
        {% endfor %}</td>
    </tr>
    <tr>
      <th> Rear Cameras </th>
      <td>
        {% for rear_camera in phone_details["rear_cameras"] %}
        {{ rear_camera }} MP,
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th> Sensors </th>
      <td>
        {% for sensor in phone_details["sensors"] %}
        {{ sensor }},
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th> Colors </th>
      <td>
        {% for color in phone_details["colors"] %}
        {{ color }},
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th> Battery Capacity </th>
      <td> {{ phone_details["battery_capacity_mah"] }} mAh </td>
    </tr>
    <tr>
      <th> Price </th>
      <td>Rs. {{ phone_details["price_rupees"] }} </td>
    </tr>

  </table>
</div>

{{
admin_component(type="edit",
text='Edit phone details',
route="/phones/" + '_'.join(phone_details['brand_name'].split())  + '_' + '_'.join(phone_details['phone_name'].split()) + "-" + phone_details['id']|string + "/edit") 
}}

<h2> Reviews </h2>

<a href={{ '/phones/' + '_'.join(phone_details['brand_name'].split())  + '_' + '_'.join(phone_details['phone_name'].split()) + "-" + phone_details['id']|string + "/add-review"}}>
  <div class="addreview">
    <img src={{ url_for('static', filename='images/add_icon.svg' ) }}>
    <br>
    <p style="color: black;"> Add a review </p>
    </div>
</a>


<div class="reviews">
  {% for review in reviews %}
  <div class="reviewcard">
    {% if session.user_name == review["username"] %}
    <img name="delete_img" class="delete_icon" src={{ url_for('static', filename='images/delete_icon.svg' ) }}>
    {% endif %}
    <h5> Name: {{ review["firstname"] }} {{ review["lastname"] }} </h5>
    <h6> Username: {{ review["username"] }} </h6>
    <p> <b> Rating: </b> {{ review["rating"] }} / 5 </p>
    {% if review["review_text"] %}
    <p> <b>Review: </b> {{ review["review_text"] }} </p>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}