{% extends "layout.html" %}
 
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block body %}
<h1> Sign Up </h1>

<form action="/signup" method="GET">
    <input autocomplete="off" name="firstname" placeholder="First Name" type="text" maxlength="30" required> <br>
    <input autocomplete="off" name="lastname" placeholder="Last Name" type="text" maxlength="30" required> <br>
    <input autocomplete="off" name="username" placeholder="User Name" type="text" maxlength="20" required> <br>
    <input autocomplete="off" name="password" placeholder="Password" type="password" maxlength="255" required> <br>
    <input autocomplete="off" name="password2" placeholder="Confirm password" type="password" maxlength="255" required>
    <br contenteditable="tr"><br>
    <br><br>
    <input type="submit" value="Sign Up">
</form>
{% endblock %}